.Header {
  font: medium Roboto;
  letter-spacing: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}

.Header a {
  color: #000000;
  opacity: 1;  
  text-decoration: unset;
}

.HeaderLeft {
  padding-left: 10px;
}

.HeaderRight {
  align-self: flex-end;
  padding-right: 10px;
}
