.Footer {
  padding-bottom: 2em;
  display: flex;
  flex-direction: column;
}

.Footer-Icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Footer-Version {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #adb5bd;
  font-size: x-small;
  padding-top: 1em;
}

.Footer-Social {
  height: 2em;
}

.Footer-Discord {
  width: 24px;
  padding-top: 5px;
}

.Footer-Instagram {
  vertical-align: middle;
  line-height: 30px;
}

.Footer-Instagram:before {
  vertical-align: middle;

}

.Footer-Mail {
  vertical-align: middle;
  line-height: 30px;  
}